body {
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

fieldset {
  border: none;
}

span,
input,
button {
  display: block;
  margin-bottom: 10px;
}
