body {
  text-align: center;
  background-color: rgb(17, 12, 37);
}

h1 {
  color: rgb(213, 255, 231);
  padding-bottom: 18px;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2,
.totalBalance {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-style: normal;
  color: rgb(120, 156, 254);
  font-weight: 600;
}

label,
.income,
.expense,
.balance,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  font-style: normal;
}

label {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

fieldset {
  border: none;
}

span,
input {
  display: block;
  margin-bottom: 10px;
}

input {
  border-radius: 8px;
  border: none;
  padding: 6px;
  margin-bottom: 30px;
}

.registerBtn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: rgb(120, 156, 254);
  color: rgb(10, 6, 29);
  padding-inline: 10px;
  font-weight: bold;
}

/* ------------------------------------------------------------------- */
/* --------------------- transaktioner utskrivna --------------------- */
/* ------------------------------------------------------------------- */

.transactionList {
  margin-bottom: 20px;
}

ul li {
  list-style: none;
}

.totalBalance {
  margin-top: 60px;
  margin-bottom: 40px;
  background-color: rgb(213, 255, 231);
  padding-block: 10px;
  color: rgb(10, 6, 29);
}

.expense {
  color: rgb(253, 140, 64);
}

.income {
  color: rgb(213, 255, 231);
}

button.delete {
  font-size: 1rem;
  margin-left: 10px;
  position: relative;
  top: 4px;
  background-color: rgb(120, 156, 254);
  color: rgb(10, 6, 29);
  font-weight: 500;
  border-radius: 6px;
  border: none;
  padding: 3px;
}
